/* Common classes */
.flex {
    display: flex;
    justify-content: space-between;
}
.flex.align-center {
    align-items: center;
}

.flex.nowrap {
    flex-wrap: nowrap !important;
}

.flex.justify-start {
    justify-content: flex-start;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.justify-end {
    justify-content: flex-end;
    position: relative;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex-vertical {
    flex-direction: column;
}
.flex-half {
    flex: 50%;
    max-width: 50%;
}
.btn-submit{
    text-transform: uppercase;
    background-color: #BA3164;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
}
.big-head{
    font-size: 2.4rem;
    color: #585858;
    text-align: center;
}
.big-head:after{
    display: block;
    height: 3px;
    background-color:#BA3164 ;
    content: "";
    margin: 20px auto;
    width: 30px;
}

.service-items{
    flex-wrap: wrap;
    margin: 3rem 10rem;
}
.service-item{
    flex: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 425px; */
}
.service-item img{
    width: 13rem;
}


/* End */
.telephone-email {
    align-items: center;
    margin-right: 2rem;
}
.telephone-email a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    justify-content: end;
    margin-left: 1rem;
}
.telephone-email a img {
    width: 1rem;
}

.general {
    background-color: #ddd;
}
.general .logo {
    width: 6rem;
    margin-top: 2.5rem;
    margin-left: 4rem;
}
.general nav {
    margin-top: 3rem;
}
.general nav a {
    color: #242424;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 4rem;
}

.general-description{
    margin-top: 15rem;
}
.general-description h1{
    text-align: center;
    font-size: 2.7rem;
    color:#585858;
    margin: 0;
}
.general-description p{
    text-align: center;
    font-size: 1.2rem;
    color:#242424;
    margin-top: 2rem;
}
.general-description a{
    display: inline-block;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 1rem;
}
.our-filosofy{
    padding: 0 10rem;
    font-size: 1.6rem;
}

.our-filosofy p{
    line-height: 2.8rem;
}
.open-hours, .akcept-form{
    flex: 50%;
}
.open-hours{
    background-color: #eeeeee;
    padding-left: 10rem;
    font-size: 1.5rem;
}
.akcept-form{
    background-color: #dddddd;
    font-size: 1.5rem;
}
.button-center{
    justify-content: center;
}