/* Common classes */
.flex {
    display: flex;
    justify-content: space-between;
}
.flex.align-center {
    align-items: center;
}

.flex.nowrap {
    flex-wrap: nowrap !important;
}

.flex.justify-start {
    justify-content: flex-start;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.justify-end {
    justify-content: flex-end;
    position: relative;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex-vertical {
    flex-direction: column;
}
.flex-half {
    flex: 50%;
    max-width: 50%;
}
.btn-submit{
    text-transform: uppercase;
    background-color: #BA3164;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
}
.big-head{
    font-size: 2.4rem;
    color: #585858;
    text-align: center;
}
.big-head:after{
    display: block;
    height: 3px;
    background-color:#BA3164 ;
    content: "";
    margin: 20px auto;
    width: 35px;
}
h3:after{
    display: block;
    height: 2px;
    background-color:#585858 ;
    content: "";
    margin: 12px auto;
    width: 30px;
}
.text-center{
    text-align: center;
}

/* End */

.service-items{
    flex-wrap: wrap;
    margin: 3rem 10rem;
}
.service-item{
    flex: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}
.service-item img{
    width: 13rem;
}

.telephone-email {
    align-items: center;
    margin-right: 2rem;
    height: 1.5rem;
}
.telephone-email a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    justify-content: end;
    margin-left: 1rem;
}
.telephone-email a img {
    width: 1rem;
}

.general {
    background-color: #ddd;
}
.general .logo {
    width: 6rem;
    margin-top: 2.5rem;
    margin-left: 4rem;
}
.general nav {
    margin-top: 3rem;
}
.general nav a {
    color: #242424;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 4rem;
    transition: 0.5s;
}
.general nav a:hover{
    color:#BA3164;
    font-weight: 600;
    transition: 0.5s;
}

.general-description{
    margin-top: 15rem;
}
.general-description h1{
    text-align: center;
    font-size: 2.7rem;
    color:#585858;
    margin: 0;
}
.general-description p{
    text-align: center;
    font-size: 1.2rem;
    color:#242424;
    margin-top: 2rem;
}
.general-description a{
    display: inline-block;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 1rem;
}
.our-filosofy{
    padding: 0 10rem;
    font-size: 1.6rem;
}

.our-filosofy p{
    line-height: 2.8rem;
    margin-bottom: 4rem;
}
.open-hours, .akcept-form{
    flex: 50%;
}
.open-hours{
    background-color: #eeeeee;
    font-size: 1.5rem;
}
.table-name{
    text-align: center;
}
.table-hours{
    margin: 0 auto;
    margin-bottom: 2rem;
}
.akcept-form{
    background-color: #dddddd;
    font-size: 1.5rem;
}
.button-center{
    justify-content: center;
}
.read-about-us{
    background-color: #EEEEEE;
}
.read-about-us .flex{
    justify-content: space-evenly;
}
.read-about-us h3{
    text-align: center;
    color:#585858;
    padding-top: 3rem;
    font-size: 2rem;
}
.read-about-us img{
    width: 16rem;
}
.workers{
    margin: 2rem 6rem;
}
.workers h3{
    text-align: center;
}
.dentist{
    flex: 25%
}
.dentist .description{
    line-height: 1.6rem;
    margin:0 1rem;
}
.dentist img{
    margin: 0 auto;
    display: block;
    width: 20rem;
}
.contact{

}
.contact div{
    flex: 50%;
}
.after-text:after{
    display: block;
    height: 2px;
    background-color:#585858 ;
    content: "";
    margin: 15px auto;
    width: 30px;
}
.form-contact form{
    margin: 0 15rem;
    
}
.form-contact p{
    text-align: center;
    font-size: 1.4rem;
    margin: 2rem 11rem;
}

footer{
    background-color: #BA3164;
    color: white;
    text-align: center;
    justify-content: center !important;
    align-items: center;
    height: 2.5rem;
}